header {
  margin-bottom: 5px;
}

footer {
  margin-top: 5px;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.page {
  width: 95%;
  margin-top: 10px;
}

.owl-carousel .item-video {
  height: 300px;
}