header {
  margin-bottom: 5px;
}

footer {
  margin-top: 5px;
}

body {
  background-color: #f3f3f3;
}

a {
  cursor: pointer;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.navbar-section .btn {
  height: 100%;
}

.page {
  width: 95%;
  margin-top: 10px;
}

.owl-carousel .item-video {
  height: 350px;
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
